# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[{Dockerfile*,**.yml}]
indent_style = space
indent_size = 2

[{**.sh,rootfs/app/**,rootfs/etc/cont-finish.d/**,rootfs/cont-init.d/**,rootfs/etc/fix-attrs.d/**,rootfs/etc/services.d/**}]
indent_style = space
indent_size = 4

# 2 space indentation
[*.{js,json,y{a,}ml,html,cwl}]
indent_style = space
indent_size = 2

[*.{md,Rmd,rst}]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# 4 space indentation
[*.{py,java,r,R}]
indent_style = space
indent_size = 4

# Docstrings and comments use max_line_length = 79
[*.py]
max_line_length = 119

[docs/**.txt]
max_line_length = 79

# Tab indentation (no size specified)
[*.{bat},Makefile]
indent_style = tab
