name: "Afvalwijzer: Validation And Formatting"

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  hassfest:
    runs-on: "ubuntu-latest"
    name: Hassfest validation
    steps:
      - uses: "actions/checkout@v6.0.1"
      - name: HACS Action
        uses: "hacs/action@main"
        with:
          category: "integration"
          ignore: "brands"
      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@master"

  style:
    runs-on: "ubuntu-latest"
    name: Check style formatting
    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-python@v6"
        with:
          python-version: "3.x"
          cache: "pip"
      - run: python3 -m pip install --upgrade pip
      - run: python3 -m pip install ruff
      - run: ruff check --output-format github .

  tests:
    runs-on: "ubuntu-latest"
    name: Run tests
    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-python@v6"
        with:
          python-version: "3.x"
          cache: "pip"
          cache-dependency-path: |
            requirements.txt
            requirements_test.txt
      - run: python3 -m pip install --upgrade pip
      - run: python3 -m pip install -r requirements.txt -r requirements_test.txt
      - run: scripts/coverage
      - uses: dorny/test-reporter@v2.5.0
        with:
          name: Test Results
          path: pytest.xml
          reporter: java-junit
