name: "Afvalwijzer: Daily Test"

on:
  push:
    branches:
      - municipality-coverage
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  test-module:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-python@v6"
        with:
          python-version: "3.x"
          cache: "pip"
          cache-dependency-path: requirements.txt
      - run: python3 -m pip install --upgrade pip
      - run: python3 -m pip install -r requirements.txt
      - run: scripts/test-module --report-failures-only >> $GITHUB_STEP_SUMMARY

  municipality-coverage:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-python@v6"
        with:
          python-version: "3.x"
          cache: "pip"
          cache-dependency-path: requirements.txt
      - uses: "actions/cache@v5"
        id: cache
        with:
          path: "data/"
          key: "data-cache-${{ github.run_number }}"
          restore-keys: |
            data-cache-
      - run: python3 -m pip install --upgrade pip
      - run: python3 -m pip install -r requirements.txt
      - run: scripts/download-addresses-Nederland
        if: steps.cache.outputs.cache-hit != 'true'
      - run: scripts/convert-zst-to-pkl
        if: steps.cache.outputs.cache-hit != 'true'
      - run: scripts/municipality-coverage >> $GITHUB_STEP_SUMMARY
