name: "Afvalwijzer: Daily Test"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  test-module:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-python@v6"
        with:
          python-version: "3.x"
          cache: "pip"
          cache-dependency-path: requirements.txt
      - run: python3 -m pip install --upgrade pip
      - run: python3 -m pip install -r requirements.txt
      - name: Enable all addresses
        run: sed -i 's/#{"provider"/{"provider"/g' custom_components/afvalwijzer/tests/test_module.py
      - name: Test module
        run: scripts/test-module --show-failures-only 2>&1 | tee $GITHUB_STEP_SUMMARY
