name: "Afvalwijzer: Daily Test"

on:
  push:
    branches:
      - municipality-coverage
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  test-module:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-python@v6"
        with:
          python-version: "3.x"
          cache: "pip"
          cache-dependency-path: requirements.txt
      - run: python3 -m pip install --upgrade pip
      - run: python3 -m pip install -r requirements.txt
      - name: Enable all addresses
        run: sed -i 's/#{/{/g' custom_components/afvalwijzer/tests/test_data.py
      - name: Test module
        run: scripts/test-module --show-failures-only 2>&1 | tee $GITHUB_STEP_SUMMARY

  check-municipality-coverage:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-python@v6"
        with:
          python-version: "3.x"
          cache: "pip"
          cache-dependency-path: requirements.txt
      - uses: "actions/cache@v5"
        id: cache
        with:
          path: "data/"
          key: "data-cache"
          restore-keys: data-cache
      - run: python3 -m pip install --upgrade pip
      - run: python3 -m pip install -r requirements.txt
      - name: Download addresses Nederland in csv.zst format
        run: scripts/download-addresses-Nederland
      - name: Check if data changed
        id: checksum
        run: |
          if [ -f data/.csv.zst.hash ]; then
            OLD_HASH=$(cat data/.csv.zst.hash)
            NEW_HASH=$(sha256sum data/Nederland.csv.zst | cut -d ' ' -f1)
            if [ "$OLD_HASH" != "$NEW_HASH" ]; then
              echo "changed=true" >> $GITHUB_OUTPUT
              echo "$NEW_HASH" > data/.csv.zst.hash
            else
              echo "changed=false" >> $GITHUB_OUTPUT
            fi
          else
            echo "changed=true" >> $GITHUB_OUTPUT
            sha256sum data/Nederland.csv.zst | cut -d ' ' -f1 > data/.csv.zst.hash
          fi
      - name: Convert zst to pkl
        run: scripts/convert-zst-to-pkl
        if: steps.checksum.outputs.changed == 'true'
      - name: Enable all addresses
        run: sed -i 's/#{/{/g' custom_components/afvalwijzer/tests/test_data.py
      - name: Check municipality coverage
        run: scripts/check-municipality-coverage 2>&1 | tee $GITHUB_STEP_SUMMARY
